footer {
    margin: 50px 0;
    width: 100%;
    text-align: center;
}

footer img {
    width: 100px;
}

footer h1 {
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
}

footer a {
    color: #000;
    font-size: 12.5px;
    text-decoration: none;
}

footer a:nth-child(5) {
    font-weight: 900;
}

footer span {
    padding: 0 5px;
    font-size: 12.5px;
    vertical-align: 2px;
}