.menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background:#fff;
    border-top: 1px solid #e7e7e7;
    border-radius: 25px 25px 0 0;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
}

.menu div {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
}

.menu div a {
    flex: 1;
    padding: 15px 10px 10px;
    background: none;
    color: #000;
    text-decoration: none;
    box-sizing: border-box;
}

.menu div a.scan {
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 10px;
    transform: translateX(-50%);
}

.menu div a.scan svg {
    padding: 10px;
    width: 55px;
    height: 55px;
    background: #F24171;
    border-radius: 50px;
    color: #fff;
    box-sizing: border-box;
}

.menu div a.scan p {
    padding: 5px 0 0 0;
}

.menu div a.active {
    color: #F24171;
}


.menu div a svg {
    width: 25px;
}

.menu div a img {
    width: 50px;
}

.menu div a p {
    margin: 0;
    font-size: 12.5px;
    font-weight: 500;
}