body {
    padding: 56px 0 70px;
    margin: 0 auto;
    max-width: 1000px;
    background: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0;
}

/* visual-area */

.visual-area {
    position: relative;
    margin: 0 0 25px 0;
}

.visual-area .canvas {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.visual-area .canvas img {
    width: 100%;
    filter: brightness(0.5);
}

.visual-area h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    text-align: center;
    font-size: 35px;
    transform: translate(-50%,-50%);
}

/* AI */

.ai {
    margin: 50px auto;
    width: 90%;
}

.ai .title {
    margin: 20px 0;
    text-align: center;
}

.ai .title p {
    font-size: 20px;
    font-weight: 800;
}

.ai .title h1 {
    font-size: 25px;
    font-weight: 900;
}

.ai .title h1 span {
    color: #F24171;
}

.ai input {
    display: none;
}

.ai input:checked + label {
    background: #ea4d73;
    color: #fff;
}

.ai input:checked + label svg {
    color: #fff;
}

.ai label {
    display: inline-block;
    padding: 1px 10px;
    margin: 20px 2.5px;
    border: 1px solid #ea4d73;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    line-height: 26.92px;
}

.ai label svg {
    width: 20px;
    color: #ea4d73;
    vertical-align: middle;
}

.ai ul {
    display: none;
}

/* AI-filter*/
.ai input.store-filter-1:checked ~ ul.store-filter-1 {
    display: block;
}

.ai input.store-filter-2:checked ~ ul.store-filter-2 {
    display: block;
}

/* AI-product */

.ai ul.store-filter-1 {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    text-align: left;
}

.ai ul.store-filter-1 li {
    display: flex;
    margin: 10px 0;
}

.ai ul.store-filter-1 li .canvas {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 120px;
    border: 1px solid #f4f4f4;
    border-radius: 10px;
}

.ai ul.store-filter-1 li .canvas img {
    position: absolute;
    left: 50%;
    height: 100%;
    transform: translate(-50%);
}

.ai ul.store-filter-1 li .info {
    position: relative;
    flex: 1;
    padding: 5px 10px;
    box-sizing: border-box;
}

.ai ul.store-filter-1 li .info h1 {
    font-size: 17.5px;
    font-weight: 800;
}

.ai ul.store-filter-1 li .info p.address {
    padding: 0 0 20px 0;
    color: #8b8b8b;
    font-size: 10px;
    font-weight: 600;
}

.ai ul.store-filter-1 li .info p.parking {
    padding: 0 0 0 17.5px;
    font-size: 12.5px;
    font-weight: 600;
    background: url(../images/icon/car-fill.svg) no-repeat left / 15.5px;
}

.ai ul.store-filter-1 li .info h2 {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 20px;
    font-weight: 500;
}

.ai ul.store-filter-1 li .info h2 span {
    padding: 0 5px 0 0;
    color: #ea4d73;
    font-size: 17px;
    font-weight: 700;
    vertical-align: -1px;
}

.ai ul.store-filter-2 {
    padding: 0;
    text-align: center;
}

.ai ul.store-filter-2 p {
    padding: 40px 0;
    font-size: 15px;
}

.ai ul.store-filter-2 p svg {
    width: 20px;
    vertical-align: -4px;
}