body {
    padding: 56px 0 70px;
    margin: 0 auto;
    max-width: 1000px;
    background: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 0;
}

/* 프로필 */

.profile {
    margin: 25px auto;
    width: 90%;
}

.profile .profile-card {
    display: flex;
    box-sizing: border-box;
}

.profile .profile-card .canvas {
    overflow: hidden;
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.profile .profile-card .canvas img {
    height: 100%;
}

.profile .profile-card > div:nth-child(2) {
    flex-grow: 1;
    padding: 0 15px;
}

.profile .profile-card > div:nth-child(2) h1 {
    font-size: 15px;
    font-weight: 700;
}

.profile .profile-card > div:nth-child(2) p {
    font-size: 10px;
    font-weight: 300;
}

.profile .profile-card > div:nth-child(2) .color {
    padding: 0 0 10px 0;
}

.profile .profile-card > div:nth-child(2) .color div {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.profile .profile-card > div:nth-child(2) .color div:nth-child(1) {
    background: #ea4d73;
}

.profile .profile-card > div:nth-child(2) .color div:nth-child(2) {
    background: #f66509;
}

.profile .profile-card > div:nth-child(2) .color div:nth-child(3) {
    background: #e78f00;
}

.profile .profile-card > div:nth-child(2) .color div:nth-child(4) {
    background: #cb7065;
}

.profile-menu {
    width: 90%;
    padding: 0;
    margin: 30px auto;
    list-style: none;
}

.profile-menu h1 {
    color: #ea4d73;
    font-size: 15px;
    font-weight: 900;
}

.profile-menu li {
    font-size: 20px;
}

.profile-menu a {
    color: #000;
    font-size: 12.5px;
    font-weight: 900;
    text-decoration: none;
}